$body-bg: #000; 
$body-color: #fff; 
$primary-color: red;



@import 'node_modules/bootstrap/scss/bootstrap';


body {
    .d-flex{
        form{
            .last-element label{
                background-color: $primary-color;
            }
            .first-element label{
                background-color: black;
            }
        }
    }
}