


    <form>

        <div class="form-group">
            <label class="first-element" for="company-name">Nazwa firmy</label>
            <input type="text" class="form-control" id="company-name" name="name" [(ngModel)]="customer.name">
        </div>

        <div class="form-group">
            <label for="NIP">NIP</label>
            <input type="number" class="form-control" id="NIP" placeholder="NIP" required>
        </div>

        <div class="form-group">
            <label for="city">Miasto</label>
            <input type="text" class="form-control" id="city" placeholder="Miasto" required>
        </div>
        <div class="form-group">
            <label for="street">Ulica</label>
            <input type="text" class="form-control" id="street" placeholder="Ulica" required>
        </div>

        <div class="form-group">
            <label for="hn">Numer domu</label>
            <input type="text" class="form-control" id="hn" placeholder="Numer domu" required>
        </div>

        <div class="form-group">
            <label for="code">Kod pocztowy</label>
            <input type="text" pattern="^\d{2}-\d{3}$" class="form-control" id="code" placeholder="Kod pocztowy" required>
        </div>

        <div class="form-group">
            <label for="industry">Branża</label>
            <select class="form-control" id="industry">
            <option>Wybierz branże</option>
            <option>IT</option>
            </select>
        </div>

        <div class="form-group">
            <label class="last-element" for="uwagi">Uwagi</label>
            <textarea class="form-control" id="uwagi" rows="3"></textarea>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Aktywny</label>
        </div>
        <div id ="buttons">

            <input type="hidden" id="currentEditClientId" value="">

            <button type="button" class="btn btn-primary" id="Submit-button">Submit</button>

            <button type="button" class="btn btn-primary" id="fill">Wstaw dane</button>

            <button type="button" class="btn btn-primary" id="showMElist">Pokaż liste</button>
            </div>
    </form>

